<div class="container"></br>
   <div class="col-12 mx-auto">
     <h3>新規会員登録</h3>
   </div>

<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
  
  <table class="table table-borderless align-middle">
            <tbody>
              <tr>
               <td>名前</td>
               <td class="text-right">
                 <%= f.label :（姓） %>
               </td>
               <td>
                 <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder:"令和" %>
               </td>
               <td class="text-right">
                 <%= f.label :（名） %>
               </td>
               <td>
                 <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder:"道子" %>
               </td>
             </tr>
             <tr>
               <td>フリガナ</td>
               <td class="text-right">
                 <%= f.label :（セイ） %>
               </td>
               <td>
                 <%= f.text_field :last_kana, autofocus: true, autocomplete: "last_kana", placeholder:"レイワ" %>
               </td>
               <td class="text-right">
                 <%= f.label :（メイ）%>
               </td>
               <td>
                 <%= f.text_field :first_kana, autofocus: true, autocomplete: "first_kana", placeholder:"ミチコ" %>
               </td>
             </tr>
             <tr>
               <td><%= f.label :メールアドレス %></td>
               <td></td>
               <td>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %>
               </td>
               <td></td>
             </tr>
             <tr>
               <td><%= f.label :郵便番号（ハイフンなし） %></td>
               <td></td>
               <td>
                <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", placeholder:"0000000" %>
　          　 </td>
  　          </tr>
           　<tr>
               <td><%= f.label :住所 %></td>
               <td></td>
               <td class= "col-md-5">
                <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder:"東京都渋谷区代々木神園町0-0", class:"form-control" %>
　             </td>
  　          </tr>
           　<tr>
               <td><%= f.label :電話番号（ハイフンなし） %></td>
               <td></td>
               <td>
                <%= f.text_field :tell, autofocus: true, autocomplete: "tell", placeholder:"0000000000" %>
               </td>
               <td></td>
             </tr>
             <tr>
               <td><%= f.label :パスワード（6文字以上） %></td>
               <td></td>
               <td>
                <% if @minimum_password_length %>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
               </td>
               <td></td>
             </tr>
             <tr>
               <td><%= f.label :パスワード（確認用） %></td>
               <td></td>
               <td>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
               </td>
               <td></td>
             </tr>
             <tr>
               <td></td>
               <td></td>
               
               <td>
                 <div class="text-center my-5" >
                <%= f.submit "新規登録", class: "btn btn-sm btn-outline-danger" %>
                </div>
              </td>
              
              <td></td>
             </tr>
           </tbody>
         </table>
          <% end %>
          
          <h3><span class="px-3">既に登録済みの方</span></h3>
         <div>
           <%= link_to "こちら", new_customer_session_path %>からログインしてください。
         </div>
         </br>
  
  <%#= render "public/shared/error_messages", resource: resource %>

<!--      <div class="row">-->
<!--        <label class="col-sm-3">名前</label>-->

<!--      <div class="row">-->
<!--          <div class="col-sm-3">-->
<!--              <p>-->
<!--                (姓)<%#= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder:"令和" %>-->
<!--              </p>-->
<!--          </div>-->

<!--      <div class="row">-->
<!--          <div class="col-sm-9">-->
<!--              <p>-->
<!--                (名)<%#= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder:"道子" %>-->
<!--              </p>-->
<!--           </div>-->
<!--      </div>-->

      
<!--<div class="form-group">      -->
<!--      <div class="row">-->
<!--        <label class="col-sm-3">フリガナ</label>-->

<!--      <div class="row">-->
<!--          <div class="col-sm-3">-->
<!--              <p>-->
<!--                (セイ)<%#= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_kana", placeholder:"レイワ" %>-->
<!--              </p>-->
<!--          </div>-->

<!--      <div class="row">-->
<!--          <div class="col-sm-9">-->
<!--              <p>-->
<!--                (メイ)<%#= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_kana", placeholder:"ミチコ" %>-->
<!--              </p>-->
<!--           </div>-->
<!--      </div>-->
<!--</div>-->
      <!--<div class="row">-->
      <!--  <label class="col-sm-3">フリガナ</label>-->

      <!--    <div class="row">-->
      <!--        <div class="col-sm-9">-->
      <!--          <p>-->
      <!--            (セイ)<%#= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_kana", placeholder:"レイワ" %>-->
      <!--           </p>-->
      <!--        </div>-->
      <!--        <div class="col-sm-9">-->
      <!--          <p>-->
      <!--         (メイ)<%#= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_kana", placeholder:"ミチコ" %>-->
      <!--          </p>-->
      <!--        </div>-->
      <!--    </div>-->
      <!--  </div>-->



<!--      <div class="row">-->
<!--        <label class="col-sm-3 col-form-label">メールアドレス</label>-->
<!--        <div class="col-sm-9">-->
<!--          <p>-->
<!--            <%#= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--      <div class="row">-->
<!--        <label class="col-sm-3 col-form-label">郵便番号(ハイフンなし) </label>-->
<!--        <div class="col-sm-9">-->
<!--          <p>-->
<!--            <%#= f.text_field :postcode, autofocus: true, autocomplete: "postcode", placeholder:"0000000" %>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="row">-->
<!--        <label class="col-sm-3 col-form-label">住所</label>-->
<!--        <div class="col-5">-->
<!--          <p>-->
<!--            <%#= f.text_field :address, autofocus: true, autocomplete: "address", placeholder:"東京都", class:"form-control" %>-->
<!--           </p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <label class="col-sm-3 col-form-label">電話番号(ハイフンなし) </label>-->
<!--        <div class="col-sm-9">-->
<!--          <p>-->
<!--            <%#= f.text_field :phone_number, autofocus: true, autocomplete: "tell", placeholder:"0000000000" %>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--       <label class="col-sm-3 col-form-label"><%#= f.label :password,'パスワード（６文字以上）' %></label>-->
<!--         <div class="col-sm-9">-->
<!--            <%# if @minimum_password_length %>-->
<!--              <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--            <%# end %><br />-->
<!--               <p>-->
<!--                 <%#= f.password_field :password, autocomplete: "new-password" %>-->
<!--              </p>-->
<!--         </div>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <label class="col-sm-3 col-form-label"><%#= f.label :password_confirmation,'パスワード（確認用）' %></label>-->
<!--          <div class="col-sm-9">-->
<!--            <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>-->
<!--          </div>-->
<!--      </div>-->


<!--     </div>-->


<!--      <div class="text-center my-5" >-->
<!--        <%#= f.submit "新規登録", class: "btn btn-sm btn-outline-danger" %>-->
<!--      </div>-->


<!--<div class="col-9 mx-auto">-->
<!--    <h3>既に登録済みの方</h3>-->
<!--</div>-->
<!--  <div class="actions">-->
<!--  <div class="d-grid col-8 mx-auto">-->
<!--    <%#= link_to "こちら", new_customer_session_path %>からログインしてください-->
    <!--(resource_name)-->
<!--  </div>-->
<!--</div>-->

<%#= render "publics/shared/links" %>
</div>